.drop-pb-menu {
    backdrop-filter: blur(10px);
    background: rgba(19, 49, 124, 0.85);
    top: 56px !important;
    width: 70% !important;
    right: 0 !important;
    left: auto !important;
} 

.add-button-fixed-left {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #5EAA46;
    position: fixed;
    bottom: 20px;
    left: 10px;
    padding: 8px;
    z-index: 9;
    box-shadow: 0px 0px 7px rgba(24, 15, 15, 0.60);
}

.add-button-fixed-right {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #5EAA46;
    position: fixed;
    top: 80px;
    right: 15px;
    padding: 26px 15px;
    z-index: 9;
    box-shadow: 0px 0px 7px rgba(24, 15, 15, 0.60);
}

.add-button-fixed-right.list-pb {
    padding: 15px;
}

.add-button-fixed-right:hover,
.add-button-fixed-right.list-pb:hover {
    background: #32661e;
}

.add-button-fixed-right.list-pb i {
    font-weight: 400;
    font-size: 40px;
}

.dropdown-notification {
    padding: 8px 0 !important;
}

#navbar-mobile.navbar-collapse .navbar-nav .menu-toggle {
    position: relative;
    top: 0px;
    padding: 0.95rem .8rem 1.12rem 0 !important;
}

.header-navbar .navbar-container ul.nav li a.nav-link-expand,
.header-navbar .navbar-container ul.nav li a.nav-link-search {
    padding: 1.1rem 0.75rem 1.15rem 0.2rem;
}

.header-navbar {
    min-height: 3rem !important;
}

html body .content .content-wrapper {
    padding: calc(5.1rem - .4rem) calc(2.2rem - 1rem) 0;
    margin-bottom: 80px;
}

.bg-pb-main {
    background-color: #c867b9 !important;
}

.text-dark {
    font-weight: 400;
}

.bx.round {
    background: #3949AB;
    border-radius: 50%;
    padding: 3px;
    color: #ffffff;
}

.bx.rupee-icon {
    background: #3949AB;
    border-radius: 50%;
    padding: 3px 6px;
    color: #ffffff;
}

.balance.bx.rupee-icon {
    padding: 0px;
    color: #000;
}

.badge-left {
    left: 0;
    right: auto !important;
}

/* Timeline */

.timeline {
    border-left: 4px solid #3949AB;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: #000;
    font-size: 0.9rem !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 500 !important;
    margin-left: 7px;
    position: relative;
    list-style: none;
    text-align: left;
    padding: 0px 15px;
}

.timeline .event {
    position: relative;
}

.timeline .event p {
    line-height: 0.8rem;
}

.timeline .event p small {
    color: #6d6d76;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:after {
    font-family: boxicons;
    content: "\ea7f";
    left: -27px;
    color: #fff;
    font-weight: 100;
    background: #3949AB;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 16px;
    padding-left: 2px;
    top: 0;
}

.timeline .event:last-of-type:after {
    font-family: boxicons;
    content: "\eae6";
    top: auto;
    bottom: 0;
}

.bx {
    font-size: 1.2rem;
}

.bx-icon-1rem {
    font-size: 0.9rem !important;
}

.bg-pb-secondary {
    background: #3949AB !important;
    color: #FFFFFF !important;
}

.btn-pb-secondary {
    border-color: #2c3ea8 !important;
    background-color: #3949AB !important;
    color: #FFF !important;
}

.btn-pb-secondary:hover {
    color: #fff;
    border-color: #2c3ea8 !important;
    background-color: #3949AB !important;
}

.btn-pb-secondary.disabled,
.btn-pb-secondary:disabled {
    color: #fff;
    border-color: #2c3ea8 !important;
    background-color: #1a2b80 !important;
}

.btn-pb-secondary:not(:disabled):not(.disabled).active,
.btn-pb-secondary:not(:disabled):not(.disabled):active,
.show>.btn-pb-secondary.dropdown-toggle {
    color: #fff;
    border-color: #2c3ea8 !important;
    background-color: #1a2b80 !important;
}

.btn-outline-pb-secondary {
    border: 1px solid #7a86cb;
    background-color: transparent;
    color: #3949AB !important;
}

.btn-outline-pb-secondary.active,
.btn-outline-pb-secondary:active {
    background-color: #3949AB !important;
    color: #FFF !important;
}

.btn-outline-pb-secondary:hover {
    background-color: #3949AB !important;
    color: #FFF !important;
}

.text-pb-secondary {
    color: #3949AB !important;
}

.text-pb-main {
    color: #c867b9 !important;
}

@media screen and (max-width: 320px) {
    .header-navbar .navbar-container ul.nav li a.dropdown-user-link {
        padding: 0.3rem !important;
    }
    .header-navbar .navbar-container ul.nav li a.nav-link-expand,
    .header-navbar .navbar-container ul.nav li a.nav-link-search {
        padding: 1rem 0.4em 0.15rem !important;
    }
    #navbar-mobile.navbar-collapse .navbar-nav .menu-toggle {
        position: relative;
        top: 4.5px;
        padding: 0.5rem 0.4rem 1.12rem 0 !important;
    }
    body,
    .font-small-1,
    .font-11,
    .form-control {
        font-size: 95%;
    }
    .font-small-3 {
        font-size: 80% !important;
    }
    .head-title,
    .accordion .card .card-header,
    .collapsible .card .card-header {
        font-size: 100%;
    }
    .btn-group-sm>.btn,
    .btn-sm,
    a.btn-sm {
        padding: 0.2rem 0.2rem;
    }
    #headline .btn-group-sm>.btn,
    .btn-sm {
        padding: 0.4rem 0.8rem !important;
        margin-top: 1px;
    }
    .btn {
        font-size: 95%;
        padding: 10px;
    }
    #s_btn.btn {
        font-size: 95%;
        padding: 5px 10px;
    }
    a.btn {
        font-size: 95%;
        padding: 5px;
    }
    .btn-sm,
    a.btn-sm {
        font-size: 70%;
    }
    label {
        font-size: 80%;
    }
    .bottom-navigation__list-item__icon {
        width: 25px;
    }
    .mobile-bottom-nav__item--active .bottom-navigation__list-item__icon {
        padding-top: 0px;
        transition-property: padding-top;
        width: 28px;
        transform: scale(2);
    }
    .mobile-bottom-nav__item {
        padding: 0 2px;
    }
    .mobile-bottom-nav {
        height: 48px;
    }
    .bottom-navigation__list-item__text {
        font-size: 0.65rem;
    }
    .card {
        margin-bottom: 0.2rem;
    }
    html body .content .content-wrapper {
        padding: calc(5.5rem - 0.8rem) calc(2.2rem - 1rem) 0;
    }
    .card-footer,
    .card-header {
        padding: 0.8rem;
        background-color: transparent;
    }
}

#t_and_c .modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.4rem;
    max-height: 75%;
}

#t_and_c .modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    border: solid 0px #000;
    border-radius: 0.267rem;
    outline: 0;
    flex-wrap: wrap;
    align-content: center;
}

#t_and_c .modal-dialog {
    position: relative;
    width: auto;
    margin: 0rem;
    pointer-events: none;
}

#t_and_c.modal {
    padding-right: 0rem;
    padding-left: 0rem;
}

#t_and_c.modal .modal-content {
    box-shadow: 0px 0px 35px 0 rgba(25, 42, 70, 0.50);
}

#t_and_c .modal-dialog-scrollable .modal-content {
    min-height: 100vh;
    max-height: 100vh;
}

#whats_new.modal {
    top: 0px;
    padding-top: 70px;
}

#whats_new .modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.4rem;
    max-height: 82%;
}

#whats_new .modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.92);
    border: solid 0px #000;
    border-radius: 0.267rem;
    outline: 0;
    flex-wrap: wrap;
    align-content: center;
}

#whats_new .modal-dialog {
    position: relative;
    width: auto;
    margin: 0rem;
    pointer-events: none;
}

#whats_new.modal {
    padding-right: 1rem;
    padding-left: 1rem;
}

#whats_new .modal-dialog-scrollable .modal-content {
    min-height: 87vh;
    max-height: 87vh;
}

#whats_new.modal .modal-content {
    box-shadow: 0px 5px 35px 0 #000;
}

.modal-header,
.modal-footer {
    padding: 0.5rem 1.3rem;
}

.pb-font-weight-900 {
    font-weight: 900 !important;
}

.pb-font-weight-800 {
    font-weight: 800 !important;
}

.pb-font-weight-700 {
    font-weight: 700 !important;
}

.pb-font-weight-600 {
    font-weight: 600 !important;
}

.pb-font-weight-500 {
    font-weight: 500 !important;
}

.pb-font-weight-400 {
    font-weight: 400 !important;
}

.pb-font-weight-100 {
    font-weight: 100 !important;
}

.collapse-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.accordion .card .card-header,
.collapsible .card .card-header {
    padding: 1rem 0.7rem;
    background: #E2ECFF;
}

.bg-main-purple .collapse {
    border: none;
}

.collapse {
    border: 1px solid rgb(223, 227, 231);
    background: #fafafa;
}

.dropdown-overlay {
    backdrop-filter: blur(3px);
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 49, 124, 0.2);
    z-index: 3;
    cursor: pointer;
}

.fixed-submit-div {
    position: fixed !important;
    z-index: 9;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #ffffff;
    width: 100%;
    border-top: 1px solid #DFE3E7;
}

.fixed-submit-div .btn-center {
    text-align: center;
    padding: 10px 0;
}

.fixed-submit-div .btn-center .submit-btn {
    width: 280px;
}

.js-active {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 30px;
    height: calc(100vh);
    background: #fff;
    width: 100%;
    z-index: 9991;
    overflow: auto;
}

.js-list {
    float: right;
    list-style: none !important;
    margin-top: 0px !important;
    padding: 0 !important;
    width: 100% !important;
}

.js-list li {
    padding: 10px !important;
    color: #fff !important;
    background: #3C454C !important;
    margin-bottom: 1px !important;
    width: 100% !important;
}

.js-list li:hover {
    cursor: pointer;
}

.js-close-btn {
    position: fixed;
    right: 8px;
    top: 5px;
    font-size: 18px;
    color: #000;
}

.div_table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 8px;
}

.div_table .tbl_row {
    display: table-row;
    text-align: left;
}

.div_table .tbl_row:not(.tbl_head):hover {
    background: #f2f4f4 !important;
}

.div_table .tbl_row.tbl_head span.txt {
    font-size: 16px;
    color: #ffffff;
}

.div_table .tbl_row:nth-child(odd) {
    background-color: #f9fafe;
}

.div_table .tbl_row:nth-child(1) {
    background-color: #4242d9;
}

.div_table .tbl_row span.txt {
    color: #707990;
    font-size: 15px;
}

.div_table .tbl_row span.txt.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.div_table .tbl_row .tbl_cell:nth-child(1) {
    min-width: 30px;
}

.div_table .tbl_row span.txt-small {
    font-size: 14px;
    color: #7a808e;
}

.div_table .tbl_cell {
    display: table-cell;
    padding: 10px 15px;
    vertical-align: middle;
    min-width: 150px;
}

.colspan {
    position: absolute;
    left: 0;
    width: 100%;
}

.dummycell {
    border-color: transparent;
}

br.height {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 0;
    /* change this to whatever height you want it */
}

.radius-20 {
    border-radius: 20px;
}

.dropdown-item {
    padding: 0.4rem 0.8rem;
}

.modal-content {
    border: none;
}

.text-success {
    color: #67c209 !important;
}

.text-warning {
    color: #f5920f !important;
}

.file-area {
    width: 100%;
    position: relative;
}

.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.file-area .file-dummy {
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
    background: #000;
    border: 2px solid rgba(255, 255, 255, 1);
    text-align: center;
    padding: 1px;
    transition: background 0.1s ease-in-out;
}

#logoimg {
    padding: 10px;
    background: #fff;
}

.file-area .file-dummy .success {
    display: none;
}

.file-area:hover .file-dummy {
    background: #337ab7;
}

.file-area input[type=file]:focus+.file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
}

.file-area input[type=file]:valid+.file-dummy .success {
    display: inline-block;
}

.file-area input[type=file]:valid {
    display: inline-block;
    pointer-events: none;
    cursor: default;
}

.file-area input[type=file]:valid+.file-dummy .default {
    display: none;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link img {
    box-shadow: none;
}

.badge.badge-purple {
    background-color: #c867b9;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.50);
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 55%;
    position: absolute;
    top: 55%;
    transform: translate(-55%, -55%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes backgroundColorPalette {
    0% {
        background: #ee6055;
    }
    25% {
        background: #60d394;
    }
    50% {
        background: #aaf683;
    }
    75% {
        background: #ffd97d;
    }
    100% {
        background: #ff9b85;
    }
}

@keyframes borderColorPalette {
    0% {
        border: 5px solid #ee6055;
    }
    25% {
        border: 5px solid #60d394;
    }
    50% {
        border: 5px solid #aaf683;
    }
    75% {
        border: 5px solid #ffd97d;
    }
    100% {
        border: 5px solid #ff9b85;
    }
}

.color-mix {
    animation-name: backgroundColorPalette;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.border-color-mix {
    animation-name: borderColorPalette;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

img.center {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

.yas5 {
    position: relative;
    margin: 30px auto;
    display: block;
    width: 305px;
    height: 277px;
}

.yas5 .All {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
}

.yas5 .svgWrapper {
    position: absolute;
    width: 305px;
    height: 277px;
    top: 0px;
    left: 0px;
}

.yas5 .tickC {
    position: absolute;
    fill: none;
    stroke: #0a2f73;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 304;
    stroke-dashoffset: 0;
    animation-name: yatickC0;
    animation-duration: 490ms;
    animation-delay: 1368ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
}

@keyframes yatickC0 {
    0% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        stroke-dashoffset: 304;
    }
    100% {
        animation-timing-function: linear;
        stroke-dashoffset: 0;
    }
}

.yas5 .tick-B {
    position: absolute;
    fill: none;
    stroke: #fb0;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 304;
    stroke-dashoffset: 0;
    animation-name: yatick-B0;
    animation-duration: 492ms;
    animation-delay: 1237ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
}

@keyframes yatick-B0 {
    0% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        stroke-dashoffset: 304;
    }
    100% {
        animation-timing-function: linear;
        stroke-dashoffset: 0;
    }
}

.yas5 .tick-gray {
    position: absolute;
    fill: none;
    stroke: #ECECEC;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 304;
    stroke-dashoffset: 0;
    animation-name: yatick-gray0;
    animation-duration: 476ms;
    animation-delay: 1037ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
}

@keyframes yatick-gray0 {
    0% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        stroke-dashoffset: 304;
    }
    100% {
        animation-timing-function: linear;
        stroke-dashoffset: 0;
    }
}

.yas5 .circleDarkBlue {
    position: absolute;
    fill: none;
    stroke: #0a2f73;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: 138px 138px;
    stroke-dasharray: 675;
    animation-name: yacircleDarkBlue0, yacircleDarkBlue1;
    animation-duration: 1017ms, 1029ms;
    animation-delay: 570ms, 578ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940), cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both, both;
}

@keyframes yacircleDarkBlue0 {
    0% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(-180deg);
    }
    100% {
        animation-timing-function: linear;
        transform: rotate(0deg);
    }
}

@keyframes yacircleDarkBlue1 {
    0% {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -675;
    }
    100% {
        animation-timing-function: linear;
        stroke-dashoffset: 0;
    }
}

.yas5 .circleLightBlue {
    position: absolute;
    fill: none;
    stroke: #fb0;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: 138px 138px;
    stroke-dasharray: 675;
    animation-name: yacircleLightBlue0, yacircleLightBlue1;
    animation-duration: 1017ms, 1029ms;
    animation-delay: 359ms, 357ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940), cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both, both;
}

@keyframes yacircleLightBlue0 {
    0% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(-180deg);
    }
    100% {
        animation-timing-function: linear;
        transform: rotate(0deg);
    }
}

@keyframes yacircleLightBlue1 {
    0% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -675;
    }
    100% {
        animation-timing-function: linear;
        stroke-dashoffset: 0;
    }
}

.yas5 .circleGray {
    position: absolute;
    fill: none;
    stroke: #ECECEC;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: 138px 138px;
    stroke-dasharray: 675;
    animation-name: yacircleGray0, yacircleGray1;
    animation-duration: 1017ms, 1029ms;
    animation-delay: 128ms, 128ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940), cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both, both;
}

@keyframes yacircleGray0 {
    0% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(-180deg);
    }
    100% {
        animation-timing-function: linear;
        transform: rotate(0deg);
    }
}

@keyframes yacircleGray1 {
    0% {
        animation-timing-function: ease-in-out;
        stroke-dashoffset: -675;
    }
    100% {
        animation-timing-function: linear;
        stroke-dashoffset: 0;
    }
}

/* Variables */

/* Helpers */

.pfailed-3,
.pfailed-2,
.pfailed-1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

.pfailed-3:before,
.pfailed-3:after,
.pfailed-2:before {
    display: block;
    width: 156px;
    height: 4px;
    border-radius: 3px;
    background: rgba(244, 166, 0, 0);
}

.pfailed-3:after,
.pfailed-3:before,
.pfailed-2:before,
.pfailed-1,
.pfailed-0 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 0);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 0);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* Mixins */

/* Main */

@-webkit-keyframes circle {
    0%,
    34.999% {
        -webkit-clip-path: polygon(0 0);
        clip-path: polygon(0 0);
        border-color: #e0a600;
    }
    54.999% {
        -webkit-clip-path: polygon(0 0);
        clip-path: polygon(0 0);
    }
    55% {
        display: block;
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 375px 125px, 375px 125px, 375px 125px, 375px 125px);
        clip-path: polygon(125px 125px, 375px 125px, 375px 125px, 375px 125px, 375px 125px, 375px 125px);
    }
    57.5% {
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 125px -125px, 125px -125px, 125px -125px, 125px -125px);
        clip-path: polygon(125px 125px, 375px 125px, 125px -125px, 125px -125px, 125px -125px, 125px -125px);
    }
    60% {
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, -125px 125px, -125px 125px);
        clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, -125px 125px, -125px 125px);
    }
    62.5% {
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, 125px 375px, 125px 375px);
        clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, 125px 375px, 125px 375px);
    }
    65%,
    100% {
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, 125px 375px, 375px 125px);
        clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, 125px 375px, 375px 125px);
        border-color: #e42626;
    }
}

@keyframes circle {
    0%,
    34.999% {
        -webkit-clip-path: polygon(0 0);
        clip-path: polygon(0 0);
        border-color: #e0a600;
    }
    54.999% {
        -webkit-clip-path: polygon(0 0);
        clip-path: polygon(0 0);
    }
    55% {
        display: block;
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 375px 125px, 375px 125px, 375px 125px, 375px 125px);
        clip-path: polygon(125px 125px, 375px 125px, 375px 125px, 375px 125px, 375px 125px, 375px 125px);
    }
    57.5% {
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 125px -125px, 125px -125px, 125px -125px, 125px -125px);
        clip-path: polygon(125px 125px, 375px 125px, 125px -125px, 125px -125px, 125px -125px, 125px -125px);
    }
    60% {
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, -125px 125px, -125px 125px);
        clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, -125px 125px, -125px 125px);
    }
    62.5% {
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, 125px 375px, 125px 375px);
        clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, 125px 375px, 125px 375px);
    }
    65%,
    100% {
        -webkit-clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, 125px 375px, 375px 125px);
        clip-path: polygon(125px 125px, 375px 125px, 125px -125px, -125px 125px, 125px 375px, 375px 125px);
        border-color: #e42626;
    }
}

@-webkit-keyframes line-middle {
    0%,
    34.999% {
        transform: translateX(0);
        background: #e0a600;
    }
    40.5% {
        transform: translateX(-18.72px);
    }
    55% {
        transform: translateX(47px);
    }
    57.5% {
        transform: translateX(832.3981633974px);
    }
    65%,
    100% {
        transform: translateX(832.3981633974px);
        background: #e42626;
    }
}

@keyframes line-middle {
    0%,
    34.999% {
        transform: translateX(0);
        background: rgba(244, 166, 0, 0);
    }
    40.5% {
        transform: translateX(-18.72px);
    }
    55% {
        transform: translateX(47px);
    }
    57.5% {
        transform: translateX(832.3981633974px);
    }
    65%,
    100% {
        transform: translateX(832.3981633974px);
        background: #e42626;
    }
}

@-webkit-keyframes line-top {
    0%,
    34.999% {
        transform: translateX(0) translateX(0) translateY(0) rotate(0deg);
        background: rgba(244, 166, 0, 0);
    }
    49.5% {
        transform: translateX(-15.6px) translateY(0) rotate(10deg);
    }
    65%,
    100% {
        transform: translateX(0) translateY(40px) rotate(-135deg);
        background: #e42626;
    }
}

@keyframes line-top {
    0%,
    34.999% {
        transform: translateX(0) translateX(0) translateY(0) rotate(0deg);
        background: rgba(244, 166, 0, 0);
    }
    49.5% {
        transform: translateX(-15.6px) translateY(0) rotate(10deg);
    }
    65%,
    100% {
        transform: translateX(0) translateY(40px) rotate(-135deg);
        background: #e42626;
    }
}

@-webkit-keyframes line-bottom {
    0%,
    34.999% {
        transform: translateY(0) rotate(0deg);
        background: rgba(244, 166, 0, 0);
    }
    49.5% {
        transform: translateX(-15.6px) translateY(0) rotate(-10deg);
    }
    65%,
    100% {
        transform: translateX(0) translateY(-40px) rotate(135deg);
        background: #e42626;
    }
}

@keyframes line-bottom {
    0%,
    34.999% {
        transform: translateY(0) rotate(0deg);
        background: rgba(244, 166, 0, 0);
    }
    49.5% {
        transform: translateX(-15.6px) translateY(0) rotate(-10deg);
    }
    65%,
    100% {
        transform: translateX(0) translateY(-40px) rotate(135deg);
        background: #e42626;
    }
}

@-webkit-keyframes background {
    0%,
    55% {
        background: #2c2c2c;
    }
    65%,
    100% {
        background: rgba(244, 166, 0, 1);
    }
}

@keyframes background {
    0%,
    55% {
        background: #2c2c2c;
    }
    65%,
    100% {
        background: rgba(244, 166, 0, 1);
    }
}

.pfailed-1 {
    display: block;
    width: 250px;
    height: 250px;
    border: 4px solid #e0a600;
    border-radius: 100%;
    -webkit-animation-name: circle;
    animation-name: circle;
}

.pfailed-2 {
    display: block;
    height: 250px;
    width: 250px;
    overflow: hidden;
    text-indent: -99999px;
}

.pfailed-2:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    margin-left: -78px;
    -webkit-animation-name: line-middle;
    animation-name: line-middle;
}

.pfailed-3 {
    display: block;
    height: 250px;
    width: 250px;
    text-indent: -99999px;
}

.pfailed-3:before,
.pfailed-3:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -78px;
}

.pfailed-3:before {
    margin-top: -41.5px;
    -webkit-animation-name: line-top;
    animation-name: line-top;
}

.pfailed-3:after {
    margin-top: 38.5px;
    -webkit-animation-name: line-bottom;
    animation-name: line-bottom;
}

.pfailed {
    zoom: 0.5;
    padding-top: 350px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
    margin: 0px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 7px;
    bottom: 4px;
    font-size: 0px;
    line-height: 19px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-holder input:checked+.slider {
    background-color: #5EAA46;
}

input:checked+.switch-holder {
    background-color: #5EAA46;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5EAA46;
}

input:checked+.slider:before {
    font-family: boxicons;
    content: "\e9c1";
    font-size: 20px;
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-holder {
    display: flex;
    float: right;
    padding: 0px 0px 0px 15px;
    flex-wrap: wrap;
    gap: 10px 8px;
    border-radius: 15px;
    background: #fcf2ff;
    justify-content: space-between;
    align-items: center;
}

.switch-label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
}

.shine-blue {
    background: linear-gradient(135deg, #15327a 33%, #527eed 50%, #15327a 66%);
    background-size: 300% 100%;
    animation: shine 2s infinite;
}

.shine-red {
    background: linear-gradient(135deg, #ea135c 33%, #ff90b7 50%, #ea135c 66%);
    background-size: 300% 100%;
    animation: shine 2s infinite;
}

.shine-red-dark {
    background: linear-gradient(135deg, #a3001b 33%, #ff0000 50%, #a3001b 66%);
    background-size: 300% 100%;
    animation: shine 2s infinite;
}

.shine-pb {
    background: linear-gradient(135deg, #9e64b7 33%, #f263c2 50%, #9e64b7 66%);
    background-size: 300% 100%;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        background-position: right;
    }
    /*100% {
      background-position: left; it's the default value, no need to define it
    }*/
}

.modal-backdrop.show {
    opacity: 0.75 !important;
}

.badge-sq-round {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
    height: 36px;
    width: 36px;
}

.badge-sq-round-light-pb,
.badge-circle-light-pb,
.badge.badge-light-pb {
    background-color: #e1e4fd;
    color: #3f3d3d;
}

.settings .app-file-folder-details .app-file-folder-name {
    font-size: 1.1rem;
}

.settings a {
    color: #000;
}

.settings a:hover .card {
    background: #f5f7ff;
}

.switcher-holder {
    display: flex;
    float: right;
    padding: 0px 0px 0px 15px;
    flex-wrap: wrap;
    gap: 10px 8px;
    border-radius: 15px;
    background: transparent;
    justify-content: space-between;
    align-items: center;
}

.switcher-label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
}

.switcher-checkbox-label::before {
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #505458;
}

.switcher-holder input:checked+.slider {
    background-color: #5EAA46;
}

input:checked+.switcher-holder {
    background-color: #5EAA46;
}

.theme-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.badge-theme-color {
    border-radius: 5px;
    line-height: 1.8;
    width: 15%;
}

.theme-clr .ml-theme-02 {
    margin-right: 0.2rem;
}

.theme-clr .mr-theme-02:nth-last-child(1) {
    margin-right: 0rem;
}

.theme-clr .mr-theme-02 {
    margin-right: 0.2rem;
}

.plr-theme-2 {
    padding-right: 0.2rem !important;
    padding-left: 0.2rem !important;
}

.qt-theme.selected {
    border: 2px solid #15327a;
    border-radius: 7px;
}

.qt-theme-default {
    cursor: pointer;
}

.qt-theme-default.selected {
    border: 2px solid #15327a;
    background: #15327a;
    border-radius: 7px;
}

.app-file-info.qt-theme-default.selected {
    border: 2px solid #15327a;
    background: #15327a;
    border-radius: 7px;
    color: #ffffff !important;
}

.app-file-info.qt-theme-default.selected .text-muted,
.app-file-info.qt-theme-default.selected .bxs-magic-wand {
    color: #ffffff !important;
}

.subscription-expire {
    background: hsla(0, 100%, 50%, 1);
    background: radial-gradient(circle, hsla(0, 100%, 50%, 1) 0%, hsla(350, 100%, 32%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(0, 100%, 50%, 1) 0%, hsla(350, 100%, 32%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(0, 100%, 50%, 1) 0%, hsla(350, 100%, 32%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF0000", endColorstr="#A5001C", GradientType=1);
}

@media screen and (max-width: 1023px) {
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next,
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        display: none;
    }
    .d-xs-none {
        display: none !important;
    }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next,
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #1d81fc;
}

.btn-pb-gradiant {
    border-color: #2c3ea8 !important;
    background: #667eea;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF !important;
}

.btn-pb-gradiant:hover {
    color: #fff;
    border-color: #2c3ea8 !important;
    background: #764ba2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #764ba2 0%, #667eea 100%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #764ba2 0%, #667eea 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-pb-gradiant.disabled,
.btn-pb-gradiant:disabled {
    color: #fff;
    border-color: #2c3ea8 !important;
    background: #2b3da1;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #2b3da1 0%, #5b317f 100%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #2b3da1 0%, #5b317f 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-pb-gradiant:not(:disabled):not(.disabled).active,
.btn-pb-gradiant:not(:disabled):not(.disabled):active,
.show>.btn-pb-gradiant.dropdown-toggle {
    color: #fff;
    background: #5b317f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #5b317f 0%, #2b3da1 100%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #5b317f 0%, #2b3da1 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calc-w-100 {
    width: calc(100% - 100px);
}

.text-ellipsis-pb {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.pb_account_switch {
    position: relative;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.pb_account_switch:hover {
    background: #f4f5ff;
    transition: all 0.8s
}

.pb_account_switch.active {
    background: #e1e4fd;
    transition: all 1.8s
}

.pb_account_switch:after {
    content: "";
    background: #e1e4fd;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.pb_account_switch:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

@media screen and (max-width: 768px) {
    .d-mob-none {
        display: none !important;
    }
}

.notif {
    background: rgba(163, 175, 189, 0);
}

.notif strong {
    font-weight: 600;
}

.notif_pending strong {
    color: #3949AB !important;
    font-weight: bold;
}

.notif_pending {
    background: rgba(163, 175, 189, .2) !important;
}

.notif:hover {
    background: rgba(163, 175, 189, .5) !important;
}

.black_and_white {
    -webkit-filter: grayscale(90%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.has-sub>a:not(.mm-next):after {
    content: '\ea7f';
    font-family: boxicons;
    font-size: 1.2rem;
    color: #8494A7;
    display: inline-block;
    position: absolute;
    right: 7px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: -webkit-transform .4s ease-in-out;
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .navigation li.open>a:not(.mm-next):after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg) !important;
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation li.menu-collapsed-open {
    background: #FAFBFB;
    border: none;
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .navigation li.active a {
    background: rgba(90, 141, 238, .2);
    box-shadow: none;
    border-radius: 5px;
}

.main-menu.menu-light .navigation>li.nav-item.open>a,
.main-menu.menu-light .navigation>li.nav-item.sidebar-group-active>a {
    margin: 0;
    padding: 9px 11px;
    transition: transform .25s ease 0s, -webkit-transform .25s ease 0s;
}

.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y,
.ps:hover>.ps__rail-x,
.ps>.ps__rail-y {
    opacity: .6;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: -1px;
    color: #596F88;
    background-color: #FFF;
    border: 1px solid #DFE3E7;
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
    width: 240px;
}

.header-navbar.fixed-top {
    left: 240px;
    position: fixed;
}

@media (max-width: 1200px) {
    .header-navbar.fixed-top {
        left: 0;
    }
}

.main-menu .navbar-header {
    width: 240px;
    padding: 0.35rem 0.45rem 0.3rem 0.3rem;
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded {
    width: 240px;
    box-shadow: 5px 0 25px 0 rgba(55, 70, 95, .3);
}

.hover-white:hover {
    background: #f2f4f4 !important;
    color: #000000;
}

.hover-pb-secondary:hover {
    background: #132478 !important;
    color: #ffffff;
}

@media (min-width: 1023px) {
    .w-pc-50 {
        width: 50% !important;
    }
    .w-pc-25 {
        width: 25% !important;
    }
}

@media (min-width: 1600px) {
    .hidden-1920 {
        display: none;
    }
}

@media (max-width: 1023px) {
    .hidden-mobile {
        display: none;
    }
    #basic-input>.card>.row>.col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

#content_new:not(.no-overflow) {
    overflow-y: hidden;
    overflow-x: auto;
}

.checkbox-input,
.checkbox label {
    cursor: pointer;
}

.nav-item.active {
    margin: 1rem !important;
}

/*cropper*/

/*!
 * Cropper.js v1.5.12
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2021-06-12T08:00:11.623Z
 */

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: 0.5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, 0.75);
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: 0.5;
    position: absolute;
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: calc(100% / 3);
    left: 0;
    top: calc(100% / 3);
    width: 100%;
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: calc(100% / 3);
    top: 0;
    width: calc(100% / 3);
}

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: 0.75;
    position: absolute;
    top: 50%;
    width: 0;
}

.cropper-center::before,
.cropper-center::after {
    background-color: #eee;
    content: ' ';
    display: block;
    position: absolute;
}

.cropper-center::before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
}

.cropper-center::after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    background-color: #39f;
}

.cropper-line.line-e {
    cursor: ew-resize;
    right: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-n {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    top: -3px;
}

.cropper-line.line-w {
    cursor: ew-resize;
    left: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-s {
    bottom: -3px;
    cursor: ns-resize;
    height: 5px;
    left: 0;
}

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: 0.75;
    width: 5px;
}

.cropper-point.point-e {
    cursor: ew-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%;
}

.cropper-point.point-n {
    cursor: ns-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px;
}

.cropper-point.point-w {
    cursor: ew-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%;
}

.cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px;
}

.cropper-point.point-ne {
    cursor: nesw-resize;
    right: -3px;
    top: -3px;
}

.cropper-point.point-nw {
    cursor: nwse-resize;
    left: -3px;
    top: -3px;
}

.cropper-point.point-sw {
    bottom: -3px;
    cursor: nesw-resize;
    left: -3px;
}

.cropper-point.point-se {
    bottom: -3px;
    cursor: nwse-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px;
}

.cropper-point.point-se::before {
    background-color: #39f;
    bottom: -50%;
    content: ' ';
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

.noscroll {
    overflow: hidden;
}

.main-overlay {
    backdrop-filter: blur(3px);
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 49, 124, 0.2);
    z-index: 9999;
    cursor: pointer;
}

.filter_div {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.9);
    width: 70%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 15%;
    z-index: 999991;
    border-radius: 8px 8px 0 0;
}

.filter_div .d-flex {
    margin-bottom: 25px;
}

.filter_div.top {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.9);
    height: auto;
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 999991;
    border-radius: 0 0 8px 8px;
}

.radio_group,
.input_group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 3px;
}

.input_group div {
    position: relative;
    margin-right: 0.8em;
    cursor: pointer;
    flex: 0 100px;
}

.radio_group input[type="checkbox"],
.radio_group input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.radio_group b.title {
    position: relative;
    margin-right: 0.5em;
    line-height: 1 !important;
    cursor: pointer;
    width: 80px;
    flex: 0 0 80px;
}

.radio_group label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2.4;
    cursor: pointer;
    flex: 0 0 auto;
}

.radio_group label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #13317c;
    border-radius: 0.25em;
    z-index: -1;
}

.radio_group input[type="radio"]+label::before {
    border-radius: 1em;
}

.radio_group input[type="checkbox"]:checked+label,
.radio_group input[type="radio"]:checked+label {
    padding-left: 1em;
    margin-right: 2em;
    color: #ffffff;
}

.radio_group input[type="checkbox"]:checked+label:before,
.radio_group input[type="radio"]:checked+label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #13317c;
}

#content_new {
    min-height: 60vh;
}

#content_new .div_table {
    height: fit-content;
}

label,
label::before {
    transition: 0.25s all ease;
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px;
    }
}

@media (max-width: 1024px) {
    .filter_div {
        width: 100%;
        left: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .add-button-fixed-right {
        bottom: 40px;
        top: auto;
        right: 10px;
    }
    .add-button-fixed-right.list-pb {
        padding: 15px;
        top: 80px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: 0.75;
        width: 5px;
    }
}