body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    background-color: #eceff4;
} 

html body {
    height: 100%;
    background-color: #eceff4;
    direction: ltr;
}

.header-navbar.fixed-top {
    background-color: #FFF;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #000;
}

.table thead th {
    color: #000;
    font-size: .8rem;
    letter-spacing: 1px;
}

.main-menu.menu-light {
    color: #000;
    background: #ffffff;
    border: #DFE3E7;
}

.fixed-side-menu {
    position: fixed;
    z-index: 1;
    overflow-y: auto;
    max-height: 768px;
}

.card {
    margin-bottom: 2.2rem;
    box-shadow: 0px 0px 3px 0 rgba(169, 169, 169, 0.57);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.main-menu.menu-light .navigation {
    background: #fff;
}

html body.navbar-sticky .app-content .content-wrapper {
    padding: 2.8rem 0.8rem 0;
    margin-top: 2.4rem;
}

body ul li.parsley-type,
body.dark-layout ul li.parsley-required,
body.dark-layout ul li.parsley-maxlength,
body.dark-layout ul li.parsley-length,
body.dark-layout ul li.parsley-min,
body.dark-layout ul li.parsley-range,
body.dark-layout ul li.parsley-equalto,
body.dark-layout ul li.parsley-minlength,
body.dark-layout ul li.parsley-maxlength {
    font-size: .8rem;
    position: relative;
    top: 0rem;
    left: 0rem;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    color: #df7d7f !important;
    line-height: 14px;
    list-style-type: none;
    list-style-image: none;
}

body ul li.parsley-type,
body ul li.parsley-required,
body ul li.parsley-maxlength,
body ul li.parsley-length,
body ul li.parsley-min,
body ul li.parsley-range,
body ul li.parsley-equalto,
body ul li.parsley-minlength,
body ul li.parsley-maxlength {
    font-size: .8rem;
    position: relative;
    top: 0rem;
    left: 0rem;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    color: #d61519 !important;
    line-height: 14px;
    list-style-type: none;
    list-style-image: none;
}

.parsley-error {
    border: #d61519 solid 1px !important;
}

.checkbox.parsley-error {
    border: 0px solid #d61519 !important;
}

.parsley-errors-list {
    padding: 5px 0px;
    margin-bottom: 0px;
}

.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.card .card-header~.card-content .card-body {
    padding: 10px 20px;
}

.p-07 {
    padding: 0.7rem !important;
}

.pl-07 {
    padding-left: 0.7rem !important;
}

.pr-07 {
    padding-right: 0.7rem !important;
}

.pt-07 {
    padding-top: 0.7rem !important;
}

.pb-07 {
    padding-bottom: 0.7rem !important;
}

.border-right-md {
    border-right: solid 1px !important;
    border-color: #eceef1 !important;
}

.card-header {
    border-bottom: 1px solid #DFE3E7 !important;
}

.item-list-select {
    min-width: 180px;
}

.service-select {
    min-width: 110px;
}

.table-nopading td,
.table-nopading th {
    padding: 0rem 0rem;
    vertical-align: initial;
    border-top: 1px solid #DFE3E7;
}

.table-p10 td,
.table-p10 th {
    padding: 10px 0px 10px 0px;
    vertical-align: initial;
    border-top: 1px solid #DFE3E7;
}

.p-0 {
    padding: 0px !important;
    margin: 0px !important;
}

.bt {
    border-top: 2px solid #DFE3E7;
    border-bottom: none !important;
}

.titlejob {
    margin-bottom: 0rem !important;
    border-top: 1px solid #DFE3E7;
    padding-top: 10px;
    border-bottom: 1px solid #DFE3E7;
}

.job {
    border-bottom: 1px solid #DFE3E7;
    padding-top: 4px;
    padding-bottom: 4px;
}

.job p {
    padding-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.job h5 {
    padding-top: 0px;
    margin-bottom: 0px;
}

.jobservice {
    border-top: 1px solid #DFE3E7 !important;
    margin-top: 10px;
}

.jobservice1 {
    border-bottom: 1px solid #DFE3E7 !important;
    padding-bottom: 4px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.jobservice2 {
    border-bottom: 1px solid #DFE3E7 !important;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.bl {
    border-right: 1px solid #DFE3E7;
}

.jobpad {
    padding-top: 2px;
    padding-bottom: 4px;
}

.truck {
    border-bottom: 1px solid #DFE3E7;
    border-top: 1px solid #DFE3E7;
    padding-top: 5px;
    padding-bottom: 5px;
}

.textdecoration {
    text-decoration: underline;
}

.bb {
    border-bottom: 1px solid #DFE3E7 !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.bt {
    border-top: 1px solid #DFE3E7 !important;
    padding-bottom: 4px;
    padding-top: 4px;
}

.goodlist {
    padding: 0px;
}

@media (min-width: 1024px) {
    .hidden-md {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .checkbox label,
    .custom-checkbox label,
    .custom-radio label {
        font-size: 0.8rem;
        text-transform: none;
    }
}

@media (max-width: 767px) {
    .checkbox label,
    .custom-checkbox label,
    .custom-radio label {
        font-size: 0.8rem;
        text-transform: none;
    }
    .company_logo {
        max-width: 120px;
    }
    .bbsmal {
        border-bottom: 1px solid #DFE3E7 !important;
        padding-bottom: 1px;
        margin-bottom: 1px;
    }
    .jobpad {
        padding-top: 0px;
        padding-bottom: 1px;
    }
    col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .hidden-xs {
        display: none;
    }
    .border-right-md {
        border-right: none !important;
    }
}


.text-main {
    color: #000 !important;
}

.invoice-action-btn {
    margin: 10px;
}

.btn {
    padding: 0.4rem 1.5rem;
}

.table td,
.table th {
    padding: 0.4rem;
    vertical-align: top;
    font-size: 14px;
    border-top: 1px solid #DFE3E7;
}

.table td .btn-sm {
    padding: 0.2rem 0.8rem;
    border-radius: 2px;
}

.datatable-btn .btn i {
    top: 2px;
}

.datatable-btn .bx {
    font-size: 1rem;
}

.removeRow {
    background: #f44336 !important;
    color: #fff !important;
}

.btn-warning {
    border-color: #FC960F !important;
    background-color: #eb8600 !important;
    color: #FFF !important;
}

.btn i {
    top: 0px;
}

.btn-success {
    border-color: #23BD70 !important;
    background-color: #00cf68 !important;
    color: #FFF;
}

.btn-primary {
    border-color: #2C6DE9 !important;
    background-color: #2669ea !important;
    color: #FFF;
}

.btn-info {
    border-color: #009FAA !important;
    background-color: #0da5af !important;
    color: #FFF;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 0.4rem 0.4rem;
    font-size: .8rem;
    line-height: 1.4;
    border-radius: .267rem;
}

.btn-icon-share i {
    top: 3px !important;
    font-size: 24px;
}

.btn-icon-share-min i {
    top: 2px !important;
    font-size: 16px;
}

.more-option {
    padding: 5px 10px;
    border: 1px solid #DFE3E7;
    border-radius: 5px;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 0.4rem 0.4rem;
    font-size: .8rem;
    line-height: 1.4;
    border-radius: .267rem;
}

.btn-icon-share i {
    top: 3px !important;
    font-size: 24px;
}

.btn-icon-share-min i {
    top: 2px !important;
    font-size: 16px;
}

/****************************************************/

/*			input[readonly] {
    background-color: #172a57 !important;
}		*/

/****************************************************/

.book {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    margin: 0 auto;
    border: 5px solid #ecf0f1;
    width: 100px;
    background: #3498db;
    height: 60px;
}

.book__page {
    position: absolute;
    left: 50%;
    top: -5px;
    margin: 0 auto;
    border-top: 5px solid #ecf0f1;
    border-bottom: 5px solid #ecf0f1;
    border-right: 5px solid #ecf0f1;
    background: #337ab7;
    width: 50px;
    height: 60px;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-animation: flip 1.2s infinite linear;
    animation: flip 1.2s infinite linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.book__page:nth-child(1) {
    z-index: -1;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.book__page:nth-child(2) {
    z-index: -2;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

.book__page:nth-child(3) {
    z-index: -3;
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s;
}

@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(600px) rotateY(0deg);
        transform: perspective(600px) rotateY(0deg);
    }
    20% {
        background: #217dbb;
    }
    29.9% {
        background: #217dbb;
    }
    30% {
        -webkit-transform: perspective(200px) rotateY(-90deg);
        transform: perspective(200px) rotateY(-90deg);
        background: #3498db;
    }
    54.999% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    60% {
        -webkit-transform: perspective(200px) rotateY(-180deg);
        transform: perspective(200px) rotateY(-180deg);
        background: #3498db;
    }
    100% {
        -webkit-transform: perspective(200px) rotateY(-180deg);
        transform: perspective(200px) rotateY(-180deg);
        background: #3498db;
    }
}

@keyframes flip {
    0% {
        -webkit-transform: perspective(600px) rotateY(0deg);
        transform: perspective(600px) rotateY(0deg);
    }
    20% {
        background: #217dbb;
    }
    29.9% {
        background: #217dbb;
    }
    30% {
        -webkit-transform: perspective(200px) rotateY(-90deg);
        transform: perspective(200px) rotateY(-90deg);
        background: #3498db;
    }
    54.999% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    60% {
        -webkit-transform: perspective(200px) rotateY(-180deg);
        transform: perspective(200px) rotateY(-180deg);
        background: #3498db;
    }
    100% {
        -webkit-transform: perspective(200px) rotateY(-180deg);
        transform: perspective(200px) rotateY(-180deg);
        background: #3498db;
    }
}

.brand-logo-eliteconnect {
    height: auto;
    width: 48px;
    float: left;
    margin-top: .2rem;
    margin-left: 15px;
}

.brand-logo-eliteconnect img {
    width: 100%;
    background: #fff;
    border-radius: 0;
    padding: 4px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #475F7B;
}

.form-control,
.input-group-text {
    color: #000 !important;
    border: 1px solid #5f5f5f !important;
}

select.form-control:not([multiple=multiple]) {
    background-position: calc(100% - 6px) 13px, calc(100% - 20px) 13px, 100% 0 !important;
}

.btn-main-smoth-yellow {
    background-color: #ffcc9c !important;
}

.btn-main-blue.focus,
.btn-main-blue:focus,
.btn-main-blue:not(:disabled):not(.disabled).active:focus,
.btn-main-blue:not(:disabled):not(.disabled):active:focus,
.show>.btn-main-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(67, 105, 253, 0.5);
}

.btn-main-blue {
    color: #ffffff !important;
    border-color: #2c3ea8 !important;
    background-color: #3949AB !important;
}

.btn-main-blue:hover,
.btn-main-blue:focus {
    color: #ffffff !important;
    border-color: #142982 !important;
    background-color: #142384 !important;
}

.btn-main-blue.disabled,
.btn-main-blue:disabled {
    color: #ffffff !important;
    border-color: #2c3ea8 !important;
    background-color: #1a2b80 !important;
}

.bg-main-purple {
    background-color: #a1018e !important;
    color: #ffffff !important;
}

.btn-main-purple.focus,
.btn-main-purple:focus,
.btn-main-purple:not(:disabled):not(.disabled).active:focus,
.btn-main-purple:not(:disabled):not(.disabled):active:focus,
.show>.btn-main-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 103, 185, 0.5);
}

.btn-main-purple {
    color: #ffffff !important;
    background-color: #c867b9;
    border-color: #651c5c;
}

.btn-main-purple:hover {
    color: #ffffff !important;
    background-color: #9e3791;
    border-color: #651c5c;
}

.btn-main-purple.disabled,
.btn-main-purple:disabled {
    color: #ffffff !important;
    background-color: #7d0870;
    border-color: #651c5c;
}

.btn-main-pink {
    background-color: #ff63ac !important;
    color: #ffffff !important;
}

.bg-main-red {
    background-color: #e42626 !important;
    color: #ffffff;
}

.btn-main-red {
    color: #fff;
    background-color: #e42626 !important;
    border-color: #990000 !important;
}

.btn-main-red:hover {
    color: #fff;
    background-color: #a10505 !important;
    border-color: #990000 !important;
}

.btn-main-red.disabled,
.btn-main-red:disabled {
    color: #fff;
    background-color: #9e0000 !important;
    border-color: #9e0000 !important;
}

.btn-main-red:not(:disabled):not(.disabled).active,
.btn-main-red:not(:disabled):not(.disabled):active,
.show>.btn-main-red.dropdown-toggle {
    color: #fff;
    background-color: #9e0000 !important;
    border-color: #9e0000 !important;
}

.btn-main-green-yellow {
    color: #fff;
    background-color: #bab100 !important;
    border-color: #787401 !important;
}

.btn-main-green-yellow:hover {
    color: #fff;
    background-color: #787401 !important;
    border-color: #787401 !important;
}

.btn-main-green-yellow.disabled,
.btn-main-green-yellow:disabled {
    color: #fff;
    background-color: #787401 !important;
    border-color: #787401 !important;
}

.btn-main-green-yellow:not(:disabled):not(.disabled).active,
.btn-main-green-yellow:not(:disabled):not(.disabled):active,
.show>.btn-main-green-yellow.dropdown-toggle {
    color: #fff;
    background-color: #787401 !important;
    border-color: #787401 !important;
}

.bg-main-green-yellow {
    background-color: #bab100 !important;
    color: #ffffff;
}

.bg-gradiant-green-yellow {
    background: #43C6AC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradiant-purple-shine {
    background: #764ba2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #764ba2 50%, #f263c2 100%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #764ba2 50%, #f263c2 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradiant-blue-purpule {
    background: #3494E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradiant-dark-orange {
    background: #fe8c00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-muted {
    color: #535456 !important;
}

.common_table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.common_table .tbl_row {
    display: table-cell;
}

.common_table .tbl_cell {
    display: table-cell;
    padding: 1px;
}

.common_table.font-11 .tbl_cell {
    font-size: 11px;
}

@media only screen and (max-width: 768px) {
    label {
        color: #475F7B;
        font-size: .7rem;
        font-weight: 400;
    }
    .common_table .tbl_row {
        display: table-row;
    }
    .fixed-side-menu {
        position: inherit;
        z-index: 1;
        overflow-y: auto;
        max-height: 768px;
    }
    .form-control {
        padding: .47rem .4rem;
    }
    .form-control-position {
        width: 2.0rem;
    }
    .has-icon-left .form-control {
        padding-left: 2.0rem;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 2px;
    }
}

.main-menu.menu-light .navigation>li:not(.sidebar-group-active)>a:hover {
    background: #E2ECFF;
    color: #5A8DEE;
    border-radius: .267rem;
}